<!-- <header class="jumbotron subhead" id="overview">
	<div class="row">
		<div class="span6">
			<h1>{{ page.title}}</h1>
			<p class="lead">Online coding portfolio.</p>
		</div>
	</div>
</header> -->

<div class="hero-unit">
<div id="home-header">
	
	<div class="hero-content">
		<img id="big-logo" alt="alt" src="big-logo.png">
		<h1>KYLE VERRIER</h1>
		<p>Coder, Musician, Science</p>
	</div>

</div>
</div>

<div class="row" id="section-icons">
	<div class="span4" >
		<i class="icon-save icon-large"></i> 
		<h3 id="code_selected_work">
			<a href="code.html">portfolio</a> 
			<!-- <em>Selected Work</em> -->
		</h3>
	</div>


	<div class="span4">
		<i class="icon-briefcase"></i> 
		<h3 id="resume">
		<a href="resume.html">resume</a> 
	</div>

	<div class="span4">
		<i class="icon-save"></i> 
		<h3 id="contact">
			<a href="code.html">contact</a> 
			<!-- <em>Selected Work</em> -->
		</h3>
	</div>

</div>


<!-- 
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div> -->

<div class="row">
	<div class="span12">
		{{ content }}
	</div>
</div>
