
<div class="hero-unit">
	<div id="home-header">
		
		<div class="hero-content">
			<img id="big-logo" alt="alt" src="big-logo.png">
			<h1><span style="color:red">KYLE</span>VERRIER</h1>
			<p>digital coding portfolio.</p>
		</div>

	</div>
</div>

<div class="row" id="section-icons">
	<a href="code.html">
		<div class="span4" >
			<i class="icon-save"></i> 
			<h3 id="code_selected_work">
				code
				<!-- <em>Selected Work</em> -->
			</h3>
		</div>
	</a> 


	<a href="resume.html">
		<div class="span4">
			<i class="icon-briefcase"></i> 
			<h3 id="resume"> résumé </h3>
			<!-- <em>Selected Work</em> -->
		</div>
	</a> 

	<a href="mailto:kyle.verrier@gmail.com">
		<div class="span4">
			<i class="icon-envelope-alt"></i> 
			<h3 id="contact">
				contact
				<!-- <em>Selected Work</em> -->
			</h3>
		</div>
	</a>

</div>


<!-- 
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div> -->

<div class="row">
	<div class="span12">
		{{ content }}
	</div>
</div>
